[submodule "dependency/emacs-color-themes"]
	path = dependency/emacs-color-themes
	url = https://github.com/owainlewis/emacs-color-themes
[submodule "dependency/paredit"]
	path = dependency/paredit
	url = https://github.com/emacsmirror/paredit
[submodule "dependency/slime"]
	path = dependency/slime
	url = https://github.com/slime/slime
[submodule "dependency/markdown-mode"]
	path = dependency/markdown-mode
	url = https://github.com/jrblevin/markdown-mode
[submodule "dependency/cargo.el"]
	path = dependency/cargo.el
	url = https://github.com/kwrooijen/cargo.el
[submodule "dependency/rust-mode"]
	path = dependency/rust-mode
	url = https://github.com/rust-lang/rust-mode
